!!! 5
%html
  %head
    %title
      Angular App
    = stylesheet_link_tag 'events_angular', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'events_angular', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/messages'
    = yield


